body {
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto; /* выравнивает по центру */
    padding: 0 15px; /* засчет этого при уменьшении ширины экрана, сожержимое не будет прилипать к краям*/
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}

.header-logo {
    display: block;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 178px;
    height: 56px;
}

.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}

.header-nav a {
    font-size: 20px;
    font-weight: 600;
    color: #443737;
    text-decoration: none;
}
.header-nav a::after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}

.header-nav a.active::after {
    background: #FFC725;
}